@value makerGreen from '../common/colors.css';
@value makerWhite from '../common/colors.css';
@value makerLightPink from '../common/colors.css';

.header {
  width: 100%;
  background-color: makerGreen;
  text-align: center;
  padding: 0.5em;
  position: relative;
}

.logout {
  background-color: makerLightPink;
  position: absolute;
  right: 2em;
  top: 1em;
  padding: 0.8em;
  border-radius: 20%;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.logo {
  width: 3em;
}

.title {
  color: makerWhite;
  margin: 0;
}
