@value makerGreen from '../common/colors.css';

.header {
  background-color: makerGreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
}

.header_img {
  width: 40px;
  height: 30px;
}

.header_h {
  color: white;
  margin: 0;
}
