@value makerGreen from '../common/colors.css';
@value makerWhite from '../common/colors.css';
@value makerPink from '../common/colors.css';

.contents {
  background-color: makerWhite;
  padding: 1.5em 0.5em 1.5em 0.5em;
  width: 96.5%;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-bottom: 0.5em;
}

.button {
  border: 0.1em solid makerGreen;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-top: 0.2em;
  height: 2em;
  width: 100%;
}

.button:hover {
  background-color: makerPink;
}
