@value makerLightGrey from '../../assets/css/colors.css';

.container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30em;
  height: 20em;
  transform: translate(-50%, -50%);
  border: 0.2em solid red;
}

.header {
  background-color: blue;
  display: flex;
  flex-wrap: wrap;
}

.header_img {
  width: 40px;
  height: 30px;
}

.header_h {
  color: white;
}
