@value makerGreen from '../common/colors.css';
@value mediaQuery from '../common/size.css';

.container {
  margin-left: 5em;
  margin-right: 5em;
  background-color: makerGreen;
  border-radius: 25%;
  display: flex;
}

.img {
  flex-direction: column;
}

.contents {
  flex-direction: row;
}
